.vs/
NTypewriter.CodeModel/bin/
NTypewriter.CodeModel/obj/
NTypewriter.CodeModel.Functions/obj/
NTypewriter.CodeModel.Functions/bin/
NTypewriter.CodeModel.Roslyn/obj/
NTypewriter.CodeModel.Roslyn/bin/
NTypewriter/bin/
NTypewriter/obj/
NTypewriter.Editor.Config/bin/
NTypewriter.Editor.Config/obj/
NTypewriter.CodeModel.Tests/obj/
NTypewriter.CodeModel.Tests/bin/
NTypewriter.CodeModel.Functions.Tests/obj/
NTypewriter.CodeModel.Functions.Tests/bin/
Tests.Assets.Referenced/obj/
Tests.Assets.WebApi/obj/
Tests.Assets.WebApi/bin/
Tests.Assets.Referenced/bin/
DocumentationGenerator/bin/
DocumentationGenerator/obj/
NTypewriter.Runtime/bin/
NTypewriter.Runtime/obj/
