.vs/
NTypewriter.CodeModel.Functions/obj/
NTypewriter.CodeModel/bin/
NTypewriter.CodeModel/obj/
NTypewriter.CodeModel.Functions/bin/
NTypewriter.CodeModel.Roslyn/obj/
NTypewriter.CodeModel.Roslyn/bin/
