.alternativeSolutions {
    background-color: #fff;
    padding : 20px 0 0 0;
}



.alternativeSolutions ul {
    columns: 1;
}

.alternativeSolutions li {
    list-style-type: none;
    margin: 7px;
}
