@page "/"

<h1>NTypewriter.Online</h1>

<h2>C# to TypeScript</h2>

<div class="editors">
    <div class="editor">
        <h4>Input : C# code</h4>
        <MonacoEditor Id="codeEditor" @ref="codeEditor" ConstructionOptions="GetEditorConstructionOptions" OnKeyUp="OnKeyUp" />
    </div>
    <div class="editor">
        <h4>Input : .nt template</h4>
        <MonacoEditor Id="templateEditor" @ref="templateEditor" ConstructionOptions="GetTemplateEditorConstructionOptions" OnKeyUp="OnKeyUp" />
    </div>
    <div class="editor">
        <h4>output</h4>
        <MonacoEditor Id="generatedFilesEditor" @ref="generatedFilesEditor"  ConstructionOptions="GetGeneratedFilesEditorConstructionOptions" />
    </div>
</div>

<div>
    <p role="status">@((MarkupString)UIOutput)</p>
</div>